[Unit]
Description=Luxstage WordPress Docker Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/luxstage
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose --env-file /opt/luxstage/.env -f /opt/luxstage/docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose --env-file /opt/luxstage/.env -f /opt/luxstage/docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
